body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-section {
  background-color: #1f2937;
}

.header-container,
.info-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  text-align: center;
}
.header-link > a {
  color: #e5e7eb;
  font-size: 18px;
  padding: 8px 16px;
}

.header-link > a:hover {
  background-color: #e5e7eb;
  color: #1f2937;
  border-radius: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 100px;
}
.navbar-right-section {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-info-container {
  display: flex;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.header-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.header-main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.header-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.header-image {
  flex-grow: 1;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

button {
  margin: 0;
  border: none;
  padding: 8px 32px;
  border-radius: 15px;
}
.header-button {
  margin-top: auto;
  background-color: #3992f6;
  color: #f9faf8;
}

.header-button:hover {
  background-color: #f9faf8;
  color: #3992f6;
}

.info-container {
  text-align: center;
  margin-top: 50px;
}

.info-header-text {
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.info-card-container {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 100px;
}

.card {
  max-width: 200px;
}

.card-img {
  max-width: 200px;
  border-radius: 10px;
}
